/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /* 
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Poppins", sans-serif;
 */

 :root{
  --bgColor: rgb(222, 236, 244);
  --thmColor: #1C84EE;

  --f18 : 18px;
  --f20 : 20px;
  --f22 : 22px;
  --f24 : 24px;
  --f28 : 28px;
  --f30 : 30px;
  --f32 : 32px;
  --f36 : 36px;
  --f40 : 40px;
  --f48 : 48px;
  --f52 : 52px;
  --f60 : 60px;
  --f80 : 80px;
 }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500; 
  color: #2D2D2D;
  font-size: var(--f24); 
}

  img{
    max-width: 100%;
  }
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 a{
  text-decoration: none;
 }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #2D2D2D;
  margin-top: 0px; 
  font-weight: 700;
  text-transform: normal;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: var(--f52);
  }

h2 {
  font-size: var(--f36); }

h3 {
  font-size: var(--f32); }

h4 {
  font-size: var(--f28); }

h5 {
  font-size: var(--f24); }

h6 {
  font-size: var(--f20); }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 img{
  max-width: 100%;
 }
.container{
  max-width: 1670px;
}
.sec__padding{
  padding: 100px 0;
}
 
/* default-css END 
================================== */
 


.header-area {
  padding-top: 30px; 
  width: 100%;
  z-index: 99; 
  background: #1C84EE;
}

.logo-area {
  display: block;
}

.logo-area a {
  display: block;
  max-width: 300px;
}

.searching {
  width: 100%;
  display: flex;
  align-items: center;
  background: #3290EF;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  max-width: 720px;
  margin-inline: auto;
}

.searching form {
    display: flex;
    align-items: center;
    width: 100%;
}

.searching input {
  height: 82px;
  width: 100%;
  display: block;
  padding: 25px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  padding-right: 100px;
}

.searching button {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  background: #1C84EE;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.searching input::placeholder {
  color: #fff;
}

.searching button:hover {
  background: #0e7ae8;
}

.header-bottom {
  background: #fff;
  margin-top: 30px;
  padding: 30px 0;
  box-shadow: 2px 2px 20px #0001;
}

.header-bottom ul {
  display: flex;
  justify-content: center;
}

.header-bottom ul li a {
  text-decoration: none;
  transition: .3s;
}

.header-bottom ul li a.active {
    color: var(--thmColor);
}

.header-bottom ul li {
  margin: 0 20px;
}

.header-bottom ul li a:hover {
  color: var(--thmColor);
}

.head_end {position: relative;display: flex;align-items: center;justify-content: end;gap: 20px;}

.head_end button {
  padding: 0;
  line-height: 0;
  border: none;
  background: none;
  max-width: 35px;
}

.head_end button.srcBtn {
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    max-width: unset;
    background: #3290ef;
    border-radius: 50%;
    display: none;
}

.head_end button img {
  display: block;
}
/* humbergar */
.bar a {
  width: 28px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 8px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -8px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
  background: var(--bgColor);
}
.siteBar{
  margin-left: 0; 
} 
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  font-size: 18px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu nav ul li a:hover { 
  color: #ff4900;
}
 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
} 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
  height: 45px;
  line-height: 45px;
}
.mobile-menu .user a {
    display: block;
    width: 100%;
    padding: 0;
    color: #272835;
    line-height: 40px;
    font-size: 16px;
}

.mobile-menu .user {
    display: block;
}

.mobile-menu .user a:hover {
    background: none;
    opacity: .5;
}
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  background: var(--thmColor);
  text-align: center;
  line-height: 37px;
  border-radius: 50%;
  font-size: 26px;
  color: #fff;
  box-shadow: 0px 0px 17px -2px #0000004a;
}
.manu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 98;
  opacity: 0;
  transition: .2s;
  visibility: hidden;
}

.manu-overlay.show {
  opacity: .5;
  visibility: visible;
}

.modal-body > button {
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
}
/* Header section END */










section.hero-area {
  position: relative;
  padding: 130px 0 100px;
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}
 

.hero-wrp ul {
  margin-bottom: 50px;
}

.hero-wrp ul li {
  display: flex;
  align-items: flex-start;
  font-size: var(--f32);
  font-weight: 700;
  max-width: 830px;
  margin-bottom: 15px;
}

.hero-wrp ul li img {
  margin-right: 20px;
}

.feature_opts {
  display: flex;
  align-items: center;
}

.feature_opts div {
  display: flex;
  align-items: center;
  padding: 24px;
  margin-right: 40px;
  background: #fff;
}

.feature_opts div img {
  margin-right: 15px;
}


/* Hero-area ENd and howWork-area STARTED */

section.how-work-section {
    margin-top: 100px;
}

section.how-work-section .container {
    max-width: 1375px;
}
.section-title {
  text-align: center;
} 

.section-title h2 {
  font-size: var(--f32);
  margin-bottom: 20px;
}

.how_work_blks {
  display: flex;
  justify-content: space-between;
}

.hwb {
  max-width: 375px;
  background: #abd7ebb8;
  text-align: center;
  padding: 24px;
  border-radius: 20px;
  margin-top: var(--f52);
}

.hwb img {
  display: block;
  max-width: 85px;
  margin: auto;
  margin-bottom: 25px;
}

.hwb h5 {
  font-size: var(--f24);
}
.cta {
  display: flex;
  padding: 100px;
  margin-top: 100px;
  background: url(../img/6.png);
  border-radius: 20px;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.cta h1 {
  margin: 0;
  max-width: 365px;
  text-align: center;
  font-size: var(--f52);
  font-weight: 700;
}

.cta a {
  background: #ABD7EB;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 600;
  transition: .3s;
}

.cta a img {
  margin-left: 12px;
}

.cta a:hover {
  background: #6ac1e8;
}



/* Featers-area END and Categories START */

section.categories-area {
  padding: 100px 0;
  background: #EEEEEE;
  margin-top: 50px;
}
section.categories-area h4 {
  font-size: var(--f32);
  margin-bottom: 25px;
}

.cti {
  text-align: center;
}

.cti h5 {
  font-size: var(--f24);
  margin-top: 15px;
  color: rgb(45, 45, 45);
  margin-bottom: 0;
}
.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.owl-dots .owl-dot {
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #BCCED7;
  margin: 0 5px;
  transition: .3s;
}

.owl-dots .owl-dot.active {
  background: #1C84EE;
}



/* Categories-area END and Footer START */

footer {
  background: #3290EF;
  color: #fff;
  padding: 100px 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.ftop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fitems {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
}

.fitems > div {
  margin-right: 20px;
  font-weight: 600;
}

.fbottom {
  margin-top: 50px;
}

.fbottom p {
  font-size: var(--f18);
  font-weight: 400;
}





.fbottom div {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.fbottom div p {
  margin: 0;
}
.fbottom div > p:first-child{
  max-width: 800px;
  margin-right: 50px;
}
.fbottom div > p {
  font-size: var(--f18);
  font-family: "Be Vietnam Pro", sans-serif;
}

.fbottom div > p b {
    font-weight: 600;
}
.fbottom div > p a{
  text-decoration: underline;
}




/* ==================faq Area Start===================== */
.subNav {padding: 24px 0;}

.Imput__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Imput__sub b {
    font-weight: 600;
}

.subNav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subNav ul li a {
    color: #667085;
    font-size: 14px;
}

.subNav ul li a.active {
    font-weight: 600;
    color: var(--thmColor);
}

.subNav ul li a i {
    font-size: 12px;
    margin-left: 10px;
}

.faq__title {margin-bottom: 80px;text-align: center;max-width: 1200px;margin-inline: auto;}

.faq__title h3 {
    margin-bottom: var(--f24);
}
.faq__accordion {max-width: 1200px;margin-inline: auto;}

.accordion-item {background: #DEECF4;}

.accordion-button {border-color: #fff;font-size: var(--f32);font-weight: 700;padding: var(--f52) var(--f60);}

.accordion-button span {
    display: inline-block;
    margin-right: var(--f40);
    color: #9D96A8;
    font-size: var(--f48);
}

.accordion-button:not(.collapsed) {
    background: #ABD7EB;
    border-color: #ABD7EB;
    padding-bottom: var(--f36);
}

.accordion-button::after {
    background-color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/plus.svg);
    background-size: 14px;
    background-position: 50%;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/close.svg);
    background-color: #000;
}

.accordion-button:not(.collapsed) span {
    color: #1C84EE;
}

.accordion-collapse {background: #ABD7EB;}

.accordion-body {background: #ABD7EB;font-size: var(--f20);padding-left: 79px;max-width: 1140px;padding-top: 0;padding-bottom: 40px;position: relative;z-index: 9;}
.support__wrp {padding: 70px 100px;align-items: center;display: flex;justify-content: space-between;max-width: 1375px;margin-inline: auto;border-radius: 20px;background: rgba(211, 211, 211, 0.7);gap: 30px var(--f40);margin-top: 100px;}

.support__left p {
    margin: 0;
}
.thm_btn {padding: 12px 24px;flex-shrink: 0;border-radius: 50px;background: rgb(171, 215, 235);display: flex;align-items: center;justify-content: center;text-align: center;gap: 13px;font-weight: 500;transition: all .3s ease;}

.thm_btn:hover {
    background: var(--thmColor);
    color: #fff;
}

/* ==================faq Area End===================== */


/* ==================impressum Area Start===================== */

.impressum__content {background: var(--bgColor);padding: var(--f52) var(--f60);}

.impressum__content > p {
    margin-bottom: 32px;
}

.impressum__content > b {
    display: block;
    margin-bottom: 32px;
}
.impressum__blk {margin-bottom: 32px;}

.impressum__blk p {
    margin-bottom: 0;
}

/* ==================impressum Area End===================== */


/* ==================about Area Start===================== */


.aboutHero-area {
    height: 520px;
    background-size: cover;
    background-position: center;
}

.aboutHero__text {
    max-width: 980px;
}

.aboutHero__text p {
    margin: 0;
    margin-top: 30px;
}


.aboutHero-area .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.about__blk {border-radius: 20px;box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);background: rgb(255, 255, 255);padding: 24px;height: 100%;width: calc(100% - 16px);margin-inline: auto;}

.about__blk h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.about__blk i {
    display: block;
    margin: auto;
    width: max-content;
    height: 400px;
}
/* ==================about Area End===================== */


/* ==================product Area Start===================== */
.product-area {padding-top: 50px;}
.productItem__blk {display: flex;align-items: center;border-radius: 20px;box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);background: rgb(255, 255, 255);}
.product__name {
    width: 100%;
}

.product__wrp .product__name {
    border-radius: 20px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    display: block;
    padding: var(--f52) 24px;
    /* margin-top: var(--f32); */
    margin: 16px 0px;
}

.product__name span,.product__title span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product__name span i,.product__title span i {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: block;
}

.product__name p {
    margin-bottom: 0;
    margin-top: var(--f24);
}


.product__name label {
    color: var(--thmColor);
    font-size: var(--f20);
    font-weight: 500;
    margin-bottom: 10px;
}
.product__btns {display: flex;align-items: center;gap: 24px;margin-top: 24px;}
.product__btns a{font-size: var(--f18);}
.thm_btn.bordered{background: no-repeat;border: 1px solid var(--thmColor);}

.thm_btn.bordered:hover {
    background: var(--thmColor);
    color: #ffff;
}

.product__title {display: flex;align-items: center;justify-content: space-between;padding: var(--f60) 0;}

.product__title p {
    margin: 0;
}
.green {background: #27D367;}
.product__blk {align-items: center;display: flex;border-radius: 20px;box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);background: rgb(255, 255, 255);padding: var(--f52);margin-bottom: 20px;}

.product__blk > i {
    display: block;
    flex-basis: 50%;
}

.product__blk a.thm_btn {min-width: 260px;font-size: var(--f18);}

.red {background: #E01010;}
/* ==================product Area End===================== */


/* ==================Area Start===================== */
/* ==================Area End===================== */